.wrapper {
    display: grid;
    grid-template-columns: 60px auto;
    min-height: 60px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000; /* Add this line to change the text color to white */
}

  

  .avatar {
    width: 40px;
    height: 40px;
  }